.main {
	background: $background-pink;
	overflow: hidden;
}
.background {
	background: url("../../assets/images/panda_bg.jpg") center center/100% no-repeat;
	width: 100%;
	padding-top: 24.375%;
	@media (max-width: 1000px) {
		background: url("../../assets/images/panda_bg1000px.jpg") center center/100% no-repeat;
		width: 100%;
		padding-top: 390px;
	}
}
.wrapper {
	width: 100%;
	max-width: 1160px;
	margin: 40px auto 0px;
	padding-bottom: 178px;
	@include go-adaptive1600('padding-bottom', 178, 30);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	//left: 10px;
	@media (max-width: 1200px) {
		max-width: 940px;
		left: 0;
	}
	.article {
		width: 100%;
		.title {
			@include text-19-400;
			font-size: 36px;
			line-height: 130%;
			color: #FFFFFF;
			@include go-adaptive1600('width', 1160, 780)
		}
		.text {
			@include go-adaptive1600('margin-top', 10, 30);
			@include text-16-500;
			line-height: 140%;
			color: #FFFFFF;
			@include go-adaptive1600('width', 1160, 940)
		}
	}
	.sub-title {
		@include text-19-400;
		font-size: 36px;
		line-height: 130%;
		color: $color-orange;
		align-self: start;
		margin: 44px 0 60px 0;
		@include go-adaptive1600('margin-bottom', 60, 40);
	}
	.feed-friend {
		width: 100%;
		background: rgba(255, 255, 255, 0.52);
		backdrop-filter: blur(2px);
		border-radius: 20px;
		padding: 40px 92px 62px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include go-adaptive1600('padding-top', 40, 20);
		@include go-adaptive1600('padding-left', 92, 44);
		@include go-adaptive1600('padding-bottom', 62, 46);
		@include go-adaptive1600('padding-right', 92, 44);
		.title {
			@include text-19-400;
			font-size: 48px;
			line-height: 120%;
			color: $color-orange;
			position: relative;
			left: -5px;

		}
		.text {
			align-self: start;
			margin: 20px 0 107px;
			@include go-adaptive1600('margin-top', 20, 10);
			@include go-adaptive1600('margin-bottom', 107, 107);
			@include text-19-400;
			font-size: 24px;
			line-height: 120%;
			color: $text-color;
		}
		.scheme {
			width: 520px;
			display: flex;
			position: relative;
			left: -16px;
			.amount {
				flex: 0 0 165px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				.number {
					margin-top: 20px;
					@include text-16-500;
					font-size: 72px;
					line-height: 80%;
					text-align: center;
					color: black;
				}
				.text {
					margin: 11px 0 0 0;
					@include text-19-400;
					font-size: 16px;
					line-height: 140%;
					text-align: center;
					color: $text-color;
				}
			}
			.cross {
				display: flex;
				align-items: center;
				margin: -16px 64px 0 11px;
			}
		}
		.text-small {
			align-self: start;
			margin: 48px 0 17px 0;
			@include text-19-400;
			font-size: 16px;
			line-height: 140%;
			color: black;
			@media (max-width: 1200px) {
				padding-left: 20px;
			}
		}
	}
	.money-slider {
		width: 100%;
		@media (max-width: 1200px) {
			width: 810px;
		}
		.field {
			width: 100%;
			height: 27px;
			background: #404950;
			border-radius: 2px;
			position: relative;
			.line {
				width: 93.75%;
				height: 2px;
				background: #72828E;
				position: absolute;
				left: 31px;
				top: 12px;
				@media (max-width: 1200px) {
					width: 785px;
					left: 12px;
				}
			}
			.dot {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: $color-yellow;
				position: absolute;
				top: 8px;
				&:nth-child(2) {
					left: 26px;
					@media (max-width: 1200px) {
						left: 11px;
					}
				}
				&:nth-child(3) {
					left: 156px;
					@media (max-width: 1200px) {
						left: 141px;
					}
				}
				&:nth-child(4) {
					left: 286px;
					@media (max-width: 1200px) {
						left: 271px;
					}
				}
				&:nth-child(5) {
					left: 416px;
					@media (max-width: 1200px) {
						left: 401px;
					}
				}
				&:nth-child(6) {
					left: 546px;
					@media (max-width: 1200px) {
						left: 531px;
					}
				}
				&:nth-child(7) {
					left: 676px;
					@media (max-width: 1200px) {
						left: 661px;
					}
				}
				&:nth-child(8) {
					left: 806px;
					@media (max-width: 1200px) {
						left: 791px;
					}
				}
				&:nth-child(9) {
					left: 936px;
					@media (max-width: 1200px) {
						display: none;
					}
				}
				&::after {
					content: "";
					display: block;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					position: absolute;
					top: -16px;
					left: -14px;
					cursor: pointer;
					z-index: 2;
				}
				&:hover {
					background-color: $color-orange;
					box-shadow: 0 0 5px $color-orange;
				}
			}
			.pointer {
				position: absolute;
				width: 97.4%;
				left: 11px;
				top: -7px;
				appearance: none;
				background: transparent;
				@media (max-width: 1200px) {
					width: 950px;
					left: -4px;
				}
				&::-webkit-slider-thumb {
					appearance: none;
					width: 40px;
					height: 40px;
					background: url("../../assets/icons/roller_icon.svg")
				}
			}
		}
		.money {
			width: 100%;
			margin-top: 12px;
			display: flex;
			.sum {
				@include text-16-500;
				font-size: 26px;
				line-height: 140%;
				color: $text-color;
				margin-right: 58px;
				cursor: pointer;
				span {
					font-size: 20px;
					position: relative;
					top: -1.5px;
				}
				@media (max-width: 1200px) {
					&:nth-child(1) {
						display: none;
					}
				}
				&:nth-child(4) {
					margin-right: 77px;
				}
				&:nth-child(5) {
					margin-right: 77px;
				}
				&:nth-child(6) {
					margin-right: 77px;
					@media (max-width: 1200px) {
						margin-right: 74px;
					}
				}
				&:nth-child(7) {
					margin-right: 90px;
				}
				&:nth-child(8) {
					margin-right: 0;
				}
				&.active {
					color: $color-orange;
				}
			}
		}
	}
	.amount-container {
		position: relative;
		.another-money {
			margin: 45px 0 20px 0;
			padding: 16px 9px;
			@media (max-width: 1200px) {
				margin: 50px 0 26px 0;
				padding: 12px 5px;
			}
			width: 268px;
			@include text-19-400;
			font-size: 16px;
			line-height: 140%;
			color: $text-color;
			border: 2px solid #929699;
			border-radius: 2px;
			background: transparent;
			&::placeholder {
				color: #929699;
			}
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				appearance: none;
			}
			&:focus {
				border: 2px solid $color-green;
				& ~.dollar{
					color: $color-green;
				}
			}
			&:invalid {
				border: 2px solid red;
				& ~.dollar{
					color: red;
				}
			}
		}
		.dollar {
			@include text-16-500;
			display: block;
			width: 10px;
			height: 20px;
			font-size: 20px;
			line-height: 54px;
			position: absolute;
			bottom: 60px;
			right: 10px;
			color: #929699;
		}
	}
	.radios {
		display: flex;
		gap: 76px;
		.period {
			display: none;
		}
		.label {
			@include text-16-500;
			font-weight: 400;
			line-height: 140%;
			color: $text-color;
			position: relative;
			cursor: pointer;
			&::before {
				content: "";
				position: absolute;
				top: 3px;
				left: -24px;
				display: block;
				width: 16px;
				height: 16px;
				border: 1px solid $color-orange;
				border-radius: 50%;
			}
			&.checked {
				&::before {
					border: none;
					background-color: $color-green;
					border-radius: 50%;
				}
			}
		}
	}
	.button {
		margin-top: 30px;
		@include btn-orange;
		&::after {
			content: "Feed a friend now";
			@include text-16-500;
			line-height: 56px;
			border-radius: 25px;
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: $btn-orange;
			opacity: 0;
			transition: $trans-set;
		}
	}
	.text-last {
		margin-top: 30px;
		@include text-16-500;
		font-weight: 400;
		line-height: 140%;
		color: $text-color;
	}
}
.footer {
	padding-top: 5px;
}
@media (max-width: 1200px) {
		.footer {
		padding: 2px 35px 0 10px;
		.container {
			.row2 {
				position: relative;
				top: 5px;
			}
			.row3 {
				.menu {
					.menu__list{

						position: relative;
						left: 15px;
					}
				}
			}
		}
	}
}
