$font-roboto: Roboto, sans-serif;
$color-orange: #F9804B;
$gradient-orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$gradient-pink: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$background-pink: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$btn-orange: linear-gradient(#F9804B, #F9804B);
$btn-green: linear-gradient(#4B9200, #4B9200);
$color-yellow: #FFEE2E;
$color-orange: #FE9013;
$color-green: #4B9200;
$color-gray: #3f3f3f;
$color-lightgray: #F1F3F2;
$text-color: #333B41;
$footer-color: #111115;
$trans-set: 0.5s ease;

@mixin text-16-500 {
	font: {
		family: $font-roboto;
		style: normal;
		weight: 500;
		size: 16px;
	}
}

@mixin text-19-400 {
	font: {
		family: $font-roboto;
		style: normal;
		weight: 400;
		size: 19px;
	}
}

@mixin text-15-300 {
	font: {
		family: $font-roboto;
		style: normal;
		weight: 300;
		size: 15px;
	}
	line-height: 120%;
}

@mixin btn-orange {
	position: relative;
	display: block;
	width: 300px;
	height: 55px;
	border-radius: 25px;
	background: $gradient-orange;
	color: #FFFFFF;
	@include text-16-500;
	text-align: center;
	text-transform: uppercase;
	transition: $trans-set;

	

	&:hover {
		&::after {
			opacity: 1;
		}
	}
	&:active {
		&::after {
			background: $btn-green;
		}
	}
}
@mixin arrow {
	position: absolute;
	top: 46.5%;
	cursor: pointer;
	transition: $trans-set;
	&:hover {
		transform: scale(1.1);
	}
}

@mixin go-adaptive($property, $startSize, $minSize) {
	$addSize: $startSize - $minSize;
	#{$property}: $startSize + px;
	@media (max-width: 1600px) {
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / (1600 - 320)));
	}
}
@mixin go-adaptive640($property, $startSize, $minSize) {
	$addSize: $startSize - $minSize;
	@media (max-width: 640px) {
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / (640 - 320)));
	}
}
@mixin go-adaptive1350($property, $startSize, $minSize) {
	$addSize: $startSize - $minSize;
	@media (max-width: 1350px) {
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 1000px) / (1350 - 1000)));
	}
}
@mixin go-adaptive900($property, $startSize, $minSize) {
	$addSize: $startSize - $minSize;
	@media (max-width: 900px) {
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 640px) / (900 - 640)));
	}
}

%logo {
	width: 82px;
	height: 52px;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	text-align: center;
	display: flex;
	align-items: center;
	position: relative;
	@media (max-width: 600px) {
		border: none;
		width: 128px;
		height: 23px;
	}

	.title__text {
		&::before {
			content: '';
			width: 16%;
			height: 38.4%;
			position: absolute;
			top: 45%;
			left: 13%;
			display: block;
			background: url('../../assets/icons/bamboo.png') no-repeat;
			@media (max-width: 600px) {
				width: 15px;
				height: 21px;
				left: 72px;
				top: -3px;
			}
		}
		.text {
			@include text-19-400;
			color: #FFFFFF;
			line-height: 120%;
			transition: $trans-set;

			&:hover {
				color: $color-orange;
			}
		}
	}
}

%petscard {
	display: flex;
	flex-direction: column;
	position: relative;
	&:hover {
		img {
			transform: scale(1.05464);
		}
		.desc {
			top: -600%;
			color: #FFFFFF;
		}
		
		.gradient:after {
			transform: scale(1.05464);
			opacity: 0.7;
		}
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: -1;
		margin: -1px -2px -2px -2px;
		background: $gradient-orange;
		border-radius: 5px;
	}
	.gradient {
		display: inline-block;
		position: relative;    
	}
	.gradient:after {
		content: "";
		display: block;    
		width: 100%;
		height: 100%;    
		position: absolute;
		top: 0;      
		left: 0;   
		background: $color-gray;
		opacity: 0;
		transition: $trans-set;
	}
	img {
		transition: $trans-set;
	}
	.gradient img {
		@media (max-width: 1350px) {
			width: 100%;
		}
		
	}
	.background {
		width: 100%;
		height: 60px;
		background-color: #FFFFFF;
		transition: $trans-set;
	}
	.desc {
		padding: 8px 0 0 16px;
		display: grid;
		grid-template-columns: 1fr 57px;
		grid-template-rows: 1fr 1fr;
		position: relative;
		top: 0;
		transition: $trans-set;
		

		.desc__header {
			@include text-16-500;
			font-weight: 700;
			line-height: 140%;
			grid-row: 1/2;
			grid-column: 1/2;
			@media (max-width: 999px) {
				font-weight: 500;
				font-size: 12px;
				position: relative;
				left: -3px;
			}
		}
		.desc__icon {
			grid-row: 1/3;
			grid-column: 2/3;
			align-self: center;
			@media (max-width: 999px) {
				width: 26px;
				height: 28px;
				position: relative;
				top: -3px;
				left: 18px;
			}
		}
		.desc__text {
			@include text-16-500;
			font-size: 15px;
			font-weight: 300;
			line-height: 120%;
			grid-row: 2/3;
			grid-column: 1/2;
			@media (max-width: 999px) {
				font-size: 12px;
				position: relative;
				left: -5px;
				top: -2px;
			}
		}
	}
}

%paycards {
	background: $gradient-orange;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;

	.contain {
		background-color: #FFFFFF;
		width: 98%;
		height: 98%;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

%testimonialscards {
	position: relative;
	width: 268px;
	height: 391px;
	padding: 15px 15px 21px 15px;
	background: $color-lightgray;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	@media (width: 1000px) {
		width: 293px;
		left: 5px;
		gap: none;
	}
	@include go-adaptive900('width', 860, 608);
	@include go-adaptive640('width', 608, 300);
	@media (max-width: 900px) {
		height: 109px;
		gap: none;
		padding: 13px 15px 13px 12px;
	}
	@media (width: 640px) {
		width: 595px;
		height: 108px;
	}

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: -2px;
		left: -2px;
		right: -2px;
		bottom: -2px;
		border-radius: 20px;
		background: $gradient-pink;
	}
	.card__block-head {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		height: 37px;
		.name {
			@include text-16-500;
			line-height: 19.2px;
			color: black;
			.location {
				@include text-15-300;
				color: #BDBDBD;
			}
		}
	}
	.card__block-body {
		overflow: hidden;
		.text {
			@include text-15-300;
			color: #767474;
		}
	}
}

%social {
	@include text-16-500;
	line-height: 140%;
	color: #FFFFFF;
	transition: $trans-set;
	position: relative;
	@media (max-width: 640px) {
		font-size: 0;
		line-height: 30px;
	}
	&::before {
		content: '';
		display: block;
		position: absolute;
		left: -38px;
		top: -4px;
		width: 26px;
		height: 26px;
		border-radius: 50%;
		transition: $trans-set;
	}
	&:hover {
		color: $color-green;
	}
}